<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Biblioteca</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="~/Scripts/MyScript.js"></script>
</head>
<body>
    <div class="carousel carousel-slider">
        <a class="carousel-item" href="#one!"><img src="~/Images/banner-1200-x-400-px.png"></a>
        <a class="carousel-item" href="#two!"><img src="~/Images/banner-1200-x-400-px.png"></a>
        <a class="carousel-item" href="#three!"><img src="~/Images/banner-1200-x-400-px.png"></a>
        <a class="carousel-item" href="#four!"><img src="~/Images/banner-1200-x-400-px.png"></a>
        <a class="carousel-item" href="#five!"><img src="~/Images/banner-1200-x-400-px.png"></a>
    </div>
    <nav>
        <div class="nav-wrapper lime darken-4">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>@Html.ActionLink("Biblioteca", "Index", "Home")</li>
                <li>@Html.ActionLink("Libros", "Index", "Libro")</li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Biblioteca</p>
        </footer>
    </div>
</body>
</html>
